#RepRap machine parameters. See http://objects.reprap.org/wiki/Java_Software_Preferences_File
#Sun Sep 05 18:13:28 BST 2010
AxisCount=3
BackColourB(0..1)=0.9
BackColourG(0..1)=0.9
BackColourR(0..1)=0.9
BackFactor=2.0
BaudRate=57600
BedTemperature(C)=55
BoundFactor=3.0
CommsDebug=false
Debug=false
DisplaySimulation=false
DumpX(mm)=130
DumpY(mm)=5
Extruder0_Address=0
Extruder0_AngleSpeedFactor(0..1)=0.5
Extruder0_AngleSpeedLength(mm)=-1
Extruder0_ArcCompensationFactor(0..)=8
Extruder0_ArcShortSides(0..)=1
Extruder0_Beta(K)=550.0
Extruder0_Capacitor(F)=0.000003
Extruder0_ColourB(0..1)=0.6
Extruder0_ColourG(0..1)=0.3
Extruder0_ColourR(0..1)=0.3
Extruder0_CoolingPeriod(s)=0.1
Extruder0_EvenHatchDirection(degrees)=45
Extruder0_ExtrudeRatio(0..)=1
Extruder0_ExtrusionBroadWidth(mm)=-1
Extruder0_ExtrusionDelayForLayer(ms)=400
Extruder0_ExtrusionDelayForPolygon(ms)=100
Extruder0_ExtrusionFoundationWidth(mm)=2
Extruder0_ExtrusionHeight(mm)=0.3
Extruder0_ExtrusionInfillWidth(mm)=0.7
Extruder0_ExtrusionLastFoundationWidth(mm)=2
Extruder0_ExtrusionOverRun(mm)=-1
Extruder0_ExtrusionPWM(0..1)=-1
Extruder0_ExtrusionSize(mm)=0.7
Extruder0_ExtrusionSpeed(mm/minute)=3000
Extruder0_ExtrusionTemp(C)=205
Extruder0_FastEFeedrate(mm/minute)=18000.0
Extruder0_FastXYFeedrate(mm/minute)=3000.0
Extruder0_InFillMaterialType(name)=PLA-infill
Extruder0_IncrementedStart=false
Extruder0_InfillOverlap(mm)=0.2
Extruder0_InfillSpeed(0..1)=1
Extruder0_Lift(mm)=0
Extruder0_LowerFineLayers(0...)=2
Extruder0_MaterialType(name)=PLA
Extruder0_MaxAcceleration(mm/minute/minute)=1200000.0
Extruder0_MaxSpeed(0..255)=255
Extruder0_MiddleStart=true
Extruder0_MinimumZClearance(mm)=-1
Extruder0_NozzleClearTime(s)=20
Extruder0_NozzleWaitTime(s)=0
Extruder0_NozzleWipeDatumX(mm)=22.4
Extruder0_NozzleWipeDatumY(mm)=4
Extruder0_NozzleWipeEnabled=false
Extruder0_NozzleWipeFreq=1
Extruder0_NozzleWipeStrokeX(mm)=0
Extruder0_NozzleWipeStrokeY(mm)=10
Extruder0_NumberOfShells(0..N)=1
Extruder0_OddHatchDirection(degrees)=-45
Extruder0_OffsetX(mm)=0
Extruder0_OffsetY(mm)=0
Extruder0_OffsetZ(mm)=0
Extruder0_OutlineSpeed(0..1)=0.9
Extruder0_PauseBetweenSegments=false
Extruder0_Purge(ms)=20000
Extruder0_RandomStart=false
Extruder0_Reverse(ms)=800
Extruder0_Rz(ohms)=4837
Extruder0_SeparationFraction(0..1)=0.8
Extruder0_SeparationSpeed(mm/minute)=3000
Extruder0_ShortLength(mm)=-1
Extruder0_ShortSpeed(0..1)=1
Extruder0_SlowXYFeedrate(mm/minute)=1500.0
Extruder0_SupportMaterialType(name)=null
Extruder0_UpperFineLayers(0...)=2
Extruder0_ValveDelayForLayer(ms)=200
Extruder0_ValveDelayForPolygon(ms)=200
Extruder0_ValveOverRun(mm)=-1
Extruder0_ValvePulseTime(ms)=-500
Extruder0_hb(C)=20
Extruder0_hm(C/pwr)=0.86
Extruder0_t0(0..255)=0
Extruder1_Address=0
Extruder1_AngleSpeedFactor(0..1)=0.5
Extruder1_AngleSpeedLength(mm)=-1
Extruder1_ArcCompensationFactor(0..)=8
Extruder1_ArcShortSides(0..)=1
Extruder1_Beta(K)=550.0
Extruder1_Capacitor(F)=0.000003
Extruder1_ColourB(0..1)=0.3
Extruder1_ColourG(0..1)=0.6
Extruder1_ColourR(0..1)=0.9
Extruder1_CoolingPeriod(s)=0.1
Extruder1_EvenHatchDirection(degrees)=45
Extruder1_ExtrudeRatio(0..)=1
Extruder1_ExtrusionBroadWidth(mm)=2.5
Extruder1_ExtrusionDelayForLayer(ms)=400
Extruder1_ExtrusionDelayForPolygon(ms)=100
Extruder1_ExtrusionFoundationWidth(mm)=2
Extruder1_ExtrusionHeight(mm)=0.3
Extruder1_ExtrusionInfillWidth(mm)=2.5
Extruder1_ExtrusionLastFoundationWidth(mm)=1
Extruder1_ExtrusionOverRun(mm)=3
Extruder1_ExtrusionPWM(0..1)=-1
Extruder1_ExtrusionSize(mm)=0.7
Extruder1_ExtrusionSpeed(mm/minute)=3000
Extruder1_ExtrusionTemp(C)=205
Extruder1_FastEFeedrate(mm/minute)=18000.0
Extruder1_FastXYFeedrate(mm/minute)=3000.0
Extruder1_InFillMaterialType(name)=PLA-support
Extruder1_IncrementedStart=false
Extruder1_InfillOverlap(mm)=0
Extruder1_InfillSpeed(0..1)=1
Extruder1_Lift(mm)=0
Extruder1_LowerFineLayers(0...)=0
Extruder1_MaterialType(name)=PLA-support
Extruder1_MaxAcceleration(mm/minute/minute)=1200000.0
Extruder1_MaxSpeed(0..255)=255
Extruder1_MiddleStart=true
Extruder1_MinimumZClearance(mm)=-1
Extruder1_NozzleClearTime(s)=20
Extruder1_NozzleWaitTime(s)=0
Extruder1_NozzleWipeDatumX(mm)=22.4
Extruder1_NozzleWipeDatumY(mm)=4
Extruder1_NozzleWipeEnabled=false
Extruder1_NozzleWipeFreq=1
Extruder1_NozzleWipeStrokeX(mm)=0
Extruder1_NozzleWipeStrokeY(mm)=10
Extruder1_NumberOfShells(0..N)=0
Extruder1_OddHatchDirection(degrees)=45
Extruder1_OffsetX(mm)=0
Extruder1_OffsetY(mm)=0
Extruder1_OffsetZ(mm)=0
Extruder1_OutlineSpeed(0..1)=0.9
Extruder1_PauseBetweenSegments=false
Extruder1_Purge(ms)=20000
Extruder1_RandomStart=false
Extruder1_Reverse(ms)=800
Extruder1_Rz(ohms)=4837
Extruder1_SeparationFraction(0..1)=0.8
Extruder1_SeparationSpeed(mm/minute)=2500
Extruder1_ShortLength(mm)=-1
Extruder1_ShortSpeed(0..1)=1
Extruder1_SlowXYFeedrate(mm/minute)=1500.0
Extruder1_SupportMaterialType(name)=null
Extruder1_UpperFineLayers(0...)=0
Extruder1_ValveDelayForLayer(ms)=200
Extruder1_ValveDelayForPolygon(ms)=200
Extruder1_ValveOverRun(mm)=2
Extruder1_ValvePulseTime(ms)=-500
Extruder1_hb(C)=20
Extruder1_hm(C/pwr)=0.86
Extruder1_t0(0..255)=0
Extruder2_Address=0
Extruder2_AngleSpeedFactor(0..1)=0.5
Extruder2_AngleSpeedLength(mm)=-1
Extruder2_ArcCompensationFactor(0..)=8
Extruder2_ArcShortSides(0..)=1
Extruder2_Beta(K)=550.0
Extruder2_Capacitor(F)=0.000003
Extruder2_ColourB(0..1)=0.3
Extruder2_ColourG(0..1)=0.8
Extruder2_ColourR(0..1)=0.3
Extruder2_CoolingPeriod(s)=0.1
Extruder2_EvenHatchDirection(degrees)=45
Extruder2_ExtrudeRatio(0..)=1
Extruder2_ExtrusionBroadWidth(mm)=6
Extruder2_ExtrusionDelayForLayer(ms)=400
Extruder2_ExtrusionDelayForPolygon(ms)=100
Extruder2_ExtrusionFoundationWidth(mm)=2
Extruder2_ExtrusionHeight(mm)=0.3
Extruder2_ExtrusionInfillWidth(mm)=1.5
Extruder2_ExtrusionLastFoundationWidth(mm)=2
Extruder2_ExtrusionOverRun(mm)=0
Extruder2_ExtrusionPWM(0..1)=-1
Extruder2_ExtrusionSize(mm)=0.7
Extruder2_ExtrusionSpeed(mm/minute)=3000
Extruder2_ExtrusionTemp(C)=205
Extruder2_FastEFeedrate(mm/minute)=18000.0
Extruder2_FastXYFeedrate(mm/minute)=3000.0
Extruder2_InFillMaterialType(name)=PLA-infill
Extruder2_IncrementedStart=false
Extruder2_InfillOverlap(mm)=0.2
Extruder2_InfillSpeed(0..1)=1
Extruder2_Lift(mm)=0
Extruder2_LowerFineLayers(0...)=0
Extruder2_MaterialType(name)=PLA-infill
Extruder2_MaxAcceleration(mm/minute/minute)=1200000.0
Extruder2_MaxSpeed(0..255)=255
Extruder2_MiddleStart=true
Extruder2_MinimumZClearance(mm)=-1
Extruder2_NozzleClearTime(s)=20
Extruder2_NozzleWaitTime(s)=0
Extruder2_NozzleWipeDatumX(mm)=22.4
Extruder2_NozzleWipeDatumY(mm)=4
Extruder2_NozzleWipeEnabled=false
Extruder2_NozzleWipeFreq=1
Extruder2_NozzleWipeStrokeX(mm)=0
Extruder2_NozzleWipeStrokeY(mm)=10
Extruder2_NumberOfShells(0..N)=1
Extruder2_OddHatchDirection(degrees)=-45
Extruder2_OffsetX(mm)=0
Extruder2_OffsetY(mm)=0
Extruder2_OffsetZ(mm)=0
Extruder2_OutlineSpeed(0..1)=0.9
Extruder2_PauseBetweenSegments=false
Extruder2_Purge(ms)=20000
Extruder2_RandomStart=false
Extruder2_Reverse(ms)=800
Extruder2_Rz(ohms)=4837
Extruder2_SeparationFraction(0..1)=0.8
Extruder2_SeparationOutlineSpeed(0..1)=1
Extruder2_SeparationSpeed(mm/minute)=2500
Extruder2_ShortLength(mm)=-1
Extruder2_ShortSpeed(0..1)=1
Extruder2_SlowXYFeedrate(mm/minute)=1500.0
Extruder2_SupportMaterialType(name)=null
Extruder2_UpperFineLayers(0...)=0
Extruder2_ValveDelayForLayer(ms)=200
Extruder2_ValveDelayForPolygon(ms)=200
Extruder2_ValveOverRun(mm)=2
Extruder2_ValvePulseTime(ms)=-500
Extruder2_hb(C)=20
Extruder2_hm(C/pwr)=0.86
Extruder2_t0(0..255)=0
Extruder3_Address=1
Extruder3_AngleSpeedFactor(0..1)=0.5
Extruder3_AngleSpeedLength(mm)=-1
Extruder3_ArcCompensationFactor(0..)=8
Extruder3_ArcShortSides(0..)=1
Extruder3_Beta(K)=550.0
Extruder3_Capacitor(F)=0.000003
Extruder3_ColourB(0..1)=0.3
Extruder3_ColourG(0..1)=0.3
Extruder3_ColourR(0..1)=0.3
Extruder3_CoolingPeriod(s)=0.1
Extruder3_EvenHatchDirection(degrees)=45
Extruder3_ExtrudeRatio(0..)=1
Extruder3_ExtrusionBroadWidth(mm)=6
Extruder3_ExtrusionDelayForLayer(ms)=600
Extruder3_ExtrusionDelayForPolygon(ms)=500
Extruder3_ExtrusionFoundationWidth(mm)=2
Extruder3_ExtrusionHeight(mm)=0.3
Extruder3_ExtrusionInfillWidth(mm)=1.5
Extruder3_ExtrusionLastFoundationWidth(mm)=2
Extruder3_ExtrusionOverRun(mm)=0
Extruder3_ExtrusionPWM(0..1)=-1
Extruder3_ExtrusionSize(mm)=0.3
Extruder3_ExtrusionSpeed(mm/minute)=3000
Extruder3_ExtrusionTemp(C)=0
Extruder3_FastEFeedrate(mm/minute)=8000.0
Extruder3_FastXYFeedrate(mm/minute)=3000.0
Extruder3_InFillMaterialType(name)=null
Extruder3_IncrementedStart=false
Extruder3_InfillOverlap(mm)=0.2
Extruder3_InfillSpeed(0..1)=1
Extruder3_Lift(mm)=1
Extruder3_LowerFineLayers(0...)=0
Extruder3_MaterialType(name)=PCB-pen
Extruder3_MaxAcceleration(mm/minute/minute)=1200000.0
Extruder3_MaxSpeed(0..255)=255
Extruder3_MiddleStart=true
Extruder3_MinimumZClearance(mm)=-1
Extruder3_NozzleClearTime(s)=10
Extruder3_NozzleWaitTime(s)=0
Extruder3_NozzleWipeDatumX(mm)=22.4
Extruder3_NozzleWipeDatumY(mm)=4
Extruder3_NozzleWipeEnabled=false
Extruder3_NozzleWipeFreq=1
Extruder3_NozzleWipeStrokeX(mm)=0
Extruder3_NozzleWipeStrokeY(mm)=10
Extruder3_NumberOfShells(0..N)=1
Extruder3_OddHatchDirection(degrees)=-45
Extruder3_OffsetX(mm)=0
Extruder3_OffsetY(mm)=0
Extruder3_OffsetZ(mm)=0
Extruder3_OutlineSpeed(0..1)=0.9
Extruder3_PauseBetweenSegments=false
Extruder3_Purge(ms)=10000
Extruder3_RandomStart=false
Extruder3_Reverse(ms)=400
Extruder3_Rz(ohms)=4837
Extruder3_SeparationFraction(0..1)=0.8
Extruder3_SeparationOutlineSpeed(0..1)=1
Extruder3_SeparationSpeed(mm/minute)=2500
Extruder3_ShortLength(mm)=-1
Extruder3_ShortSpeed(0..1)=1
Extruder3_SlowXYFeedrate(mm/minute)=1500.0
Extruder3_SupportMaterialType(name)=null
Extruder3_UpperFineLayers(0...)=0
Extruder3_ValveDelayForLayer(ms)=200
Extruder3_ValveDelayForPolygon(ms)=200
Extruder3_ValveOverRun(mm)=2
Extruder3_ValvePulseTime(ms)=500
Extruder3_hb(C)=20
Extruder3_hm(C/pwr)=0.86
Extruder3_t0(0..255)=0
FastSpeed(-1..255)=240
FinishX(mm)=10
FinishY(mm)=190
FiveD=true
FoundationLayers=0
FrontFactor=0.001
GCodeUseSerial=true
IdleZAxis=true
InterLayerCooling=true
MachineColourB(0..1)=0.3
MachineColourG(0..1)=0.4
MachineColourR(0..1)=0.3
MaxXYAcceleration(mm/mininute/minute)=1200000
MaxZAcceleration(mm/mininute/minute)=3000
MaximumFeedrateX(mm/minute)=3000
MaximumFeedrateY(mm/minute)=3000
MaximumFeedrateZ(mm/minute)=50
MouseTranslationFactor=50
MouseZoomFactor=50
MovementSpeedZ(0..255)=240
NumberOfExtruders=4
PathOptimise=true
Port(name)=/dev/ttyUSB0
RadiusFactor=0.7
RememberWindowPosition=false
RepRap_Machine=GCodeRepRap
SelectedColourB(0..1)=0.2
SelectedColourG(0..1)=0.2
SelectedColourR(0..1)=0.6
Shield=true
SlowXYFeedrate(mm/minute)=1500.0
SlowZFeedrate(mm/minute)=5.0
Subtractive=false
UnselectedColourB(0..1)=0.3
UnselectedColourG(0..1)=0.3
UnselectedColourR(0..1)=0.3
WorkingLocation=reprap-wv.stl
WorkingOffsetX(mm)=-17.3
WorkingOffsetY(mm)=-24.85
WorkingOffsetZ(mm)=-2
WorkingX(mm)=300
WorkingY(mm)=300
WorkingZ(mm)=300
WorldName=RepRap-World
XAxisAddress=2
XAxisScale(steps/mm)=7.99735
XAxisTorque(%)=100
XYReZeroInterval(mm)=-1
YAxisAddress=3
YAxisScale(steps/mm)=7.99735
YAxisTorque(%)=100
ZAxisAddress=4
ZAxisScale(steps/mm)=320
ZAxisTorque(%)=100
