Source: reprap-host
Section: misc
Priority: optional
Maintainer: Adrian Bowyer <A.Bowyer@bath.ac.uk>
Uploaders: Jonathan Marsden <jmarsden@fastmail.fm>, Petter Reinholdtsen <pere@debian.org>, Reece Arnott <rarnott@business.otago.ac.nz>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5), cdbs, ant
# old Build-Depends: debhelper (>= 5), cdbs, ant, libsun-vecmath-java, librxtx-java, libswing-layout-java, libjava3d-java | java3d
# libj3d-org-java
Build-Depends-Indep: openjdk-6-jdk | default-jdk-builddep | sun-java6-jdk
Homepage: http://www.reprap.org/
Vcs-Svn: https://reprap.svn.sourceforge.net/svnroot/reprap/trunk/reprap/host
Vcs-Browser: https://reprap.svn.sourceforge.net/svnroot/reprap/trunk/reprap/host

Package: reprap-host
Architecture: all
Depends: java-gcj-compat | java-runtime | sun-java6-jre
# old Depends: java-gcj-compat | java-runtime | sun-java6-jre, librxtx-java, libjava3d-java | java3d
# libj3d-org-java
Description: Controls a Reprap 3D printer to create custom 3D objects
 by extruding materials such as CAPA or HDPE plastics.
